*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-style: normal;
}
.header{
     width: 400px;
    height: 400px; 
    margin: 10px auto;
    /* border: 3px solid red; */
    margin-right:50px ;
    color: white;
    padding: 20px 0;
    align-items: center;
    justify-content: center;

}
.header-banner{
    /* width: 100%;
    height: 500px;
    border: 3px solid red; */
    background: url(header-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* border: solid black; */
    background-position: center;
    overflow: hidden;

    
}
.header-content{
    font-weight: bold;
    font-style: oblique;
    padding-top: 60px;
}
.heading{
    padding: 0 25px;
}
.arrow-button{
    padding: 0 25px;
}
    

.link-holder{ 
display: flex;
 justify-content: flex-end;
/* border: 3px solid yellow;  */
 justify-items: space-between; 

}
.link-holder ul{
    /* border: 2px solid purple; */
    padding: 0 50px;
    margin: 0% 30px;
    
}
.head-link{
    list-style: none;
    /* display: block; */
    display: flex;
    color: white;
    text-decoration: none;
    padding: 15px 20px;
}
span{
    top: 0;
        left: 60px;
        position: absolute;
        display: flex;
        justify-content: center;
        padding: 18px 0;
       
        color: white;
        font-size: 20px;
}
.link-holder li{
    list-style: none;
}
.link-holder ul{
    display: flex;
}
.btn-btn{
    color: white;
    background: tomato;
    width: 200px;
    border-radius: 15px;
    height: 40px;
    border: none;
}
.first-button{
    margin: 30px;
}
.second-section{
    /* border: 2px solid green; */
    display: flex;
    justify-items: center;
    justify-content: center;
}
.get-started{
    /* border: 2px solid purple; */
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: white;
    
}

.explore{
    height: 320px;
    width: 320px;
    background: tomato;
    /* border: 2px solid grey; */
    margin-top: 100px;
    border-radius: 15px;
    text-transform: uppercase;
}
.hiking{
    height: 320px;
    width: 320px;
    background: tomato;
    /* border: 2px solid green; */
    margin-top: 100px;
    border-radius: 15px;
}
.diving{
    height: 320px;
    width: 320px;
    background: tomato;
    /* border: 2px solid violet; */
    margin-top: 100px;
    border-radius: 15px;
}
.snow{
    height: 320px;
    width: 320px;
    background: tomato;
    /* border: 2px solid saddlebrown; */
    margin-top: 50px;
    margin-bottom: 100px;
    border-radius: 15px;
    
    
}
.Surfing{
    height: 320px;
    width: 320px;
    background: tomato;
    /* border: 2px solid darkorchid; */
    margin-top: 50px;
    margin-bottom: 100px;
    border-radius: 15px;
}
.swimming{
    height: 320x;
    width: 320px;
    background: tomato;
    /* border: 2px solid orangered; */
    margin-top: 50px;
    margin-bottom: 100px;
    border-radius: 15px;
}
h2{
    padding-top: 20px;
    text-align: left;
    padding: 20px ;
    color: white;
}
p{
    padding: 20px;
}
.btn{
    /* padding-right: 50px; */
    width: 150px;
    border-radius: 15px;
    height: 40px;
    color: tomato;
    font-weight: bold;
    border: none;
    padding-right: 20px;
    
}
.section3{
    /* border: 2px solid teal; */
    background: tomato;
}
.footer{
    /* border: 2px solid royalblue; */
    background: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 0 30px; */
}
.last-button{
    
    color: tomato;
  width: 150px;
  height: 40px;
  border-radius: 15px;
  border: none;
  justify-content: space-between;
}


#bot{
    border: 2px solid green;
    /* justify-content: flex-end; */
    /* align-self: flex-end; */
    
    
}
.footer-icons{
    /* border: 3px solid greenyellow; */
    align-items: center;
    margin-right: 80px;


}
.last{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 25px;

}